**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

data/models/**/*.safetensors
data/models/**/*.pt
data/models/**/*.pth
data/models/**/*.ckpt
data/models/**/*.onnx
data/models/**/*.bin
data/models/**/*.yaml